.cartao-info {
    background-color: #757cac;
}

.cartao-titulo {
    text-shadow: 1px 2px 4px #5F6793;
}

.cartao-info img {
    top: 60px;
}

.cartao-detalhes {
    background-color: #5F6793;
}